@{
    ViewData["title"] = "Car Catalog";
}

<h1>Display Catalog Here</h1>

    <div class="container">

        <div class="row">
          <div class="col-10">
            <div id="catalog" class="catalog">
              <!-- Render the items here -->
              
          </div>      

    </div>

@section Styles{
    <link href="/css/catalog.css" rel="stylesheet">
}


@section Scripts{
    <script src="/js/catalog/catalog.js"></script>
}

