@{
    ViewData["title"] = "Car Catalog";
}

<div class="container">
    <div class="row">
        <div class="col-10">   
            <div id ="catalog" class="catalog">

            </div>
        </div>
    </div>
</div>



@section Styles{
    <link href="/css/catalog.css" rel="stylesheet">
}


@section Scripts{
    <script src="/js/catalog/catalog.js"></script>
}

