.card {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    border-radius: 5px;
    vertical-align: top;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.containers {
    padding: 2px 16px;
}

body {
    background-color: #fdf1ec;
}

.wrapper {
    height: 420px;
    width: 881px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.car-img {
    float: left;
    height: 420px;
    width: 554px;
    display: inline-flex;
}

.car-img img {
    border-radius: 7px 0 0 7px;
}

.car-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.car-text {
    height: 300px;
    width: 327px;
    padding-right: 10px;
}

.car-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
}



.car-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.car-text p {
    height: 125px;
    margin: 0 0 0 38px;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.car-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
}

.car-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
}

span {
    display: inline-block;
    height: 50px;
    font-size: 34px;
}

.car-price-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cabeb;
    cursor: pointer;
    outline: none;
}

.car-price-btn button:hover {
    background-color: #7988b0;
}